.login-wrapper {
  height: 100%;
  background: url('../../assets/loginBackground.png');
  background-size: cover;
  position: relative;
  padding: 30px 60px;
}

.form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-logo {
  position: absolute;
  width: 12%;
  min-width: 164px;
  top: 0;
  left: 0;
}

.login-form-container {
  width: 50%;
  min-width: 548px;
  background-color: #fff;
  padding: 54px 64px;
  border-radius: 8px;
}

.login-form-title {
  font-size: 24px;
  margin-bottom: 28px;
}
